.functionplot-data-container {
  
}

.functionplot-data-list {
  
}

.functionplot-data-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}

.functionplot-item-data:not(:first-child) {
  border-top: 1px solid var(--background-modifier-border)
}
