.function-plot-numberinput {
  width: 4.5em;
}

.function-plot-functions-container {
  width: 100%;
  height: min-content;
  overflow-y: scroll;
  overflow-x: hidden;
  padding: 0 1em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.function-plot-functions-add {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 1em 0;
}
