.fplt-modal {
  aspect-ratio: 3/2;
  width: initial;
  height: min(50em, 100%);
  overflow: hidden;
}

.fplt-modal-content {
  max-height: inherit;
  min-height: 0;
}

.fplt-actionbar .setting-item {
  padding: 0;
}
