name: release

on:
  release:
    types: [published]

permissions:
  contents: write

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Setup Node.js environment
        uses: actions/setup-node@v3.1.1
        with:
          node-version: 18

      - name: Checkout
        uses: actions/checkout@v2.4.2
        with:
          ref: master

      - name: Install packages
        run: yarn install

      - name: Run version-bump
        run: node .github/version-bump.mjs ${{ github.event.release.tag_name }}

      - name: Commit and push changes
        run: |
          git config --global user.name "leonhma"
          git config --global user.email "leonhardmasche@gmail.com"

          git add -A
          git commit -m "chore(versions): index minAppVersion for latest release"
          git push origin master

      - name: Build
        run: yarn build:prod

      - name: Upload assets to a Release
        uses: AButler/upload-release-assets@v2.0
        with:
          repo-token: ${{ github.token }}
          files: "main.js;manifest.json"
